<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>500</title>
	</head>
	<body>
		<h3>Oops</h3>
		<h4>Se ha producido un error en el servidor.</h4>
		{{#if stack}}
			<div style="font-family: Courier New, Courier, monospace; overflow: auto;">
			{{br stack}}
			</div>
		{{/if}}
	</body>
</html>
